<div class="class-detalle">
  <h2>Detalle</h2>
  <p>Usted actualmente se encuentra en el modulo <b>Detalle</b>. Si quiere cambiar de modulo solo tiene que hacer click en el nombre del modulo.</p>
  <p>Este modulo es exactamente igual al modulo Home</p>
  <p>A continuación texto de relleno...</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>

