<h2>Bienvenido a la resolución del trabajo práctico nro 2</h2>
<p>Aqui encontrara diferentes modulos:</p>
<ul>
  <a href="#home-section"> <li> Modulo Home </li></a>
  <a href="#catalogo-section"> <li> Modulo Catalogo</li></a>
  <a href="#detalle-section"> <li> Modulo Detalle</li></a>
  <a href="#login-section"> <li> Modulo Login</li></a>
  <a href="#registro-section"> <li> Modulo Registro</li></a>
</ul>

<div id="home-section">
  <app-home></app-home>
</div>

<div id="catalogo-section">
  <app-catalogo></app-catalogo>
</div>
<div id="detalle-section">
  <app-detalle></app-detalle>
</div>
<div id="login-section">
  <app-login></app-login>
</div>
<div id="registro-section">
  <app-registro></app-registro>
</div>
